.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  text-align: center;
  max-width: 800px;
  border-radius: var(--borderRadius);
  margin: 0 auto; /* Center the header within the content */
}


.content {
  background-color: #000000; /* Slightly lighter black */
  border-radius: var(--borderRadius);
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  padding: 20px;
  width: 80%;
  max-width: 700px;
  margin: 20px;
}

.branding {
  text-align: center;
  margin: 20px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .content {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
.section {
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--borderRadius);
  padding: 10px;
  border-color: #777777;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingDescription {
  flex: 1;
  padding-right: 20px;
}

.settingInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.slidersContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.slidersSetting {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sliderValue {
  margin-right: auto;
  padding: 5px;
}

.installButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.installButton {
  background-color: #ffffff; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.111);
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    opacity 0.2s,
    background-color 0.2s;
}

.installButton:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.225);
}

.installButton:active {
  transform: scale(0.98);
}

.installButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  background-color: #ddddddbe;
}

.version {
  position: absolute;
  top: -5px;
  right: -50px;
  font-size: 14px;
  color: black;
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  padding: 5px;
  border-radius: var(--borderRadius);
}

.mediaFlowConfig {
  border-width: 1px;
  border-style: solid;
  border-radius: var(--borderRadius);
  border-color: #777777;
  padding: 10px;
  transition: margin-top 0.4s, opacity 0.3s, transform 0.6s;
}

.mediaFlowConfig.hidden {
  opacity: 0;
  margin-top: -340px;
  transform: scale(0);
  transition: margin-top 0.5s, opacity 0.2s, transform 0.4s;
}