.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  text-align: center;
  max-width: 800px;
  border-radius: var(--borderRadius);
  margin: 0 auto; /* Center the header within the content */
}

.content {
  background-color: #000000; /* Slightly lighter black */
  border-radius: var(--borderRadius);
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  padding: 20px;
  width: 80%;
  max-width: 700px;
  margin: 20px;
}

.section {
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--borderRadius);
  padding: 10px;
  border-color: #777777;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyInput {
  flex: 0 0 20%;
}

.valueInput {
  flex: 0 0 70%;
}

.input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: var(--borderRadius);
  border: 1px solid #777777;
  background-color: #1a1a1a;
  color: white;
}

.icon {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 5px;
  border: none;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.deleteButton {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

.help {
  background-color: #353535;
  border-radius: var(--borderRadius);
  padding: 10px;
  margin: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: #ffffff; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.111);
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    opacity 0.2s,
    background-color 0.2s;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.output {
  background-color: #1a1a1a;
  border-radius: var(--borderRadius);
  padding: 10px;
  color: white;
  resize: vertical;
  width: 99%;
  overflow-x: auto;
}

.envSection {
  padding: 15px;
  font-size: 1.1em;
}

.envCommand {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.envInput {
  flex: 1;
  padding: 5px;
  border-radius: var(--borderRadius);
  border: 1px solid #777777;
  background-color: #1a1a1a;
  color: white;
  margin-right: 10px;
}
