.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addonSelector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.addonSelector button {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  border-radius: var(--borderRadius);
  border: none;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.041);
  transition:
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
}

.addonSelector button:hover {
  background-color: #f1f1f1;
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(206, 206, 206, 0.19);
}

.addonSelector button:active {
  transform: scale(0.99);
}

.card {
  background-color: #1a1a1a; /* Slightly lighter black */
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  border: 1px solid #a0a0a0;
  border-radius: var(--borderRadius);
  padding: 10px;
}

.option label {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option small {
  color: #aaa;
  margin-top: 5px;
}

.required {
  color: #ffffff;
  margin-left: 5px;
}
