.credentialsInputContainer {
  display: flex;
}
.resetCredentialButton {
  margin-top: 5px;
  margin-left: 5px;
  top: 6px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: transform 0.2s;
}

.resetCredentialButton:hover {
  transform: scale(1.2);
}

.resetCredentialButton:active {
  transform: scale(0.9);
}

.showHideButton {
  background-color: transparent;
  padding-top: 5px;
  padding-left: 5px;
  border: none;
  transform: scale(1);
  transition: transform 0.2s;
}

.showHideButton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.showHideButton:active {
  transform: scale(0.9);
}
