.credentialsInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.credentialInput {
  flex: 1;
  padding-right: 40px; /* Space for the reset button */
}

.resetCredentialButton {
  position: absolute;
  right: 10px;
  top: 6px;
  background-color: transparent;
  border: none;
  color: rgb(104, 104, 104);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s;
}

.resetCredentialButton:hover {
  color: black;
  transform: scale(1.2) rotateZ(180deg) translateY(2px);
}

.resetCredentialButton:active {
  transform: scale(0.9) rotateZ(180deg) translateY(2px);
}
