.card {
  background-color: #1a1a1a; /* Slightly lighter black */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.5s ease,
    opacity 0.5s ease,
    transform 0.3s ease,
    scale 0.3s ease,
    box-shadow 0.6s ease,
    max-height 0.8s ease;
  max-height: 60px; /* Initial height for the card */
  overflow: hidden;
}

.card.enabled {
  max-height: 500px; /* Adjust this value based on the expected maximum height */
}

.card.disabled {
  background-color: #131313; /* Greyed out */
  box-shadow: none;
  scale: 0.98;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #ffffff; /* White color */
  border-radius: 4px;
}

.serviceName {
  font-size: 1.2em;
  font-weight: bold;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  margin-bottom: 5px;
}

.field input {
  padding: 5px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #383838;
  background-color: white;
  height: 30px;
  color: black;
}
