.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: #1f2123; /* Slightly lighter black */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color 0.5s ease,
    opacity 0.5s ease,
    transform 0.3s ease,
    scale 0.3s ease,
    box-shadow 0.6s ease;
  height: 75px;
}

.card.disabled {
  background-color: #222222; /* Greyed out */
  box-shadow: none;
  scale: 0.98;
  opacity: 0.5;
}

.actions button {
  margin-left: 5px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
}

.checkbox {
  margin-right: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  accent-color: #ffffff; /* White color */
  border-radius: 50%;
  vertical-align: middle;
}

.arrowButton {
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 0;
  transition: transform 0.2s;
}

.arrowButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.arrowButton:active {
  transform: scale(0.9);
}
